.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review {
  border: 1ps solid gray;
}

h6 {
  text-align: center;
  color: gray;
 }

 #login-b {
  background-color: #5139F2;
 }

 #sign-b {
  background-color: #119DA4;
 }
